    
{% extends "base.html" %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/table.css' %}">


<div class="mb-5"></div>
<div class="mb-5"></div>
<div class="mb-5"></div>
        <div class="mb-2"></div>
        <div class="mb-2"></div>
        <div class="mb-2"></div>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                    {% for header in headers %}
                        <th >{{ header }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in list1 %}
                    <tr>                    
                        <td > {{row.name}} </td>
                        <td > {{row.values}} </td>
                        <td > {{row.bids}} </td>
                        <td>{{row.timeb}}</td>
                        <td>{{row.rangeb}}</td>
                        <td > {{row.asks}} </td>
                        <td>{{row.timea}}</td>
                        <td>{{row.rangea}}</td>
                        <!-- <td >{{row.count_trades}} </td> -->
                        
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
            
            
            <table class="table">
                <thead>
                    <tr>
                    {% for header in headers %}
                        <th >{{ header }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in list2 %}
                    <tr>                    
                        <td > {{row.name}} </td>
                        <td > {{row.values}} </td>
                        <td > {{row.bids}} </td>
                        <td>{{row.timeb}}</td>
                        <td>{{row.rangeb}}</td>
                        <td > {{row.asks}} </td>
                        <td>{{row.timea}}</td>
                        <td>{{row.rangea}}</td>
                        <!-- <td >{{row.count_trades}} </td> -->
                        
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        
            <table class="table">
                <thead>
                    <tr>
                    {% for header in headers %}
                        <th >{{ header }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in list3 %}
                    <tr>                    
                        <td > {{row.name}} </td>
                        <td > {{row.values}} </td>
                        <td > {{row.bids}} </td>
                        <td>{{row.timeb}}</td>
                        <td>{{row.rangeb}}</td>
                        <td > {{row.asks}} </td>
                        <td>{{row.timea}}</td>
                        <td>{{row.rangea}}</td>
                        <!-- <td >{{row.count_trades}} </td> -->
                        
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
            
            
    </div>
    


  {% endblock %}
